*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-style: "Poppins", sans-serif;
}

:focus-visible,
.MuiDataGrid-columnHeader:focus,
.MuiDataGrid-cell:focus,
.MuiInputBase-root:hover {
    outline: none !important;
}

.MuiInputBase-root:hover {
    border-color: transparent;
}
